.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #f0f0f0;
  background: linear-gradient(135deg, #ffffff, #e6e6e6);
  padding: 2rem;
  overflow: hidden;
  /* width: 250px; */
  height: 100%; 
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.93);
}

.card-spotlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}
